/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

/* CSS styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans" sans-serif;
}
span {
  display: block;
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
}
li {
  list-style-type: none;
  display: inline-block;
}

/* CSS STYLING BEGINS */
.hero {
  display: flex;
  width: 100vw;
  height: 100vh;
}
/* ---left Column---- */
.left-col {
  flex-basis: 30%;
  height: 100vh;
  background: black;
  position: relative;
}

.menu-icon {
  margin: 40px;
}

.logo {
  margin-left: 120px;
  margin-top: -15px;
}

.white-bar {
  top: 180px;
  position: absolute;
  right: 0;
  width: 280px;
  height: 20px;
  background: white;
}

.quote-text {
  position: absolute;
  top: 200px;
  right: -20px;
  width: 400px;
  color: white;
}

.quote-text p {
  margin-top: 15px;
  color: #ffffffc7;
  font-size: 22px;
}

.quote-icon-2 {
  margin-left: 280px;
}

.image-1 {
  position: absolute;
  bottom: 50px;
  right: -43px;
  z-index: 1;
}

.image-1::after {
  content: "\276f";
  position: absolute;
  width: 40px;
  width: 40px;
  bottom: 120px;
  left: -100px;
  color: white;
  font-size: 28px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  transform: rotate(-90deg);
}
.image-1::before {
  content: "\276f";
  position: absolute;
  width: 40px;
  width: 40px;
  bottom: 30px;
  left: -100px;
  color: white;
  font-size: 28px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  transform: rotate(90deg);
}

.line-1 {
  width: 2px;
  height: 80px;
  background: black;
  position: absolute;
  right: -40px;
  bottom: 34px;
  font-weight:;
}

.line-1::after {
  content: "29/06";
  width: 0;
  height: 80px;
  background: black;
  position: absolute;
  top: -43px;
  left: 33px;
  font-size: 15px;
  letter-spacing: 1px;
  transform: rotate(-90deg);
  background-color: #000;
}

/* =++++++++++++++++++++++++++++++++++++++++++++++++++++++= */
/* css code for right column */
.right-col {
  flex-basis: 70%;
  height: 100%;
  background: #fff;
  position: relative;
}

.navbar {
  position: absolute;
  right: 45px;
  top: 85px;
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 40px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.search {
  margin-right: 25px;
}

.user {
  margin-left: 20px;
}

.black-bar {
  position: absolute;
  top: 180px;
  left: 0;
  background: black;
  height: 20px;
  width: 280px;
}
.black-bar span {
  position: absolute;
  top: 0;
  left: 287px;
  background: black;
  height: 20px;
  width: 8px;
}
